svg {
  font-size: 12px;
}

#container {
  margin-top: 10px;
}

.clusters {
  float: left;
  display:inline-block;
  background-color: #ffffff;
}

.radar {
  margin-top: 10px;
  float: left;
  display:inline-block;
  background-color: #ffffff;
}

#save_cluster {
  margin-top: 10px;
}